{% extends 'base.html.twig' %}

{% block titre %}{{parent()}}
{% endblock %}

{% block body  %}

	<div class="row my-4">
		<div class="col-md-5">
			<img class="img-fluid" src="{{asset ('img/wish.png')}} " alt="wish-picture">

		</div>

		<div class="col-7 my-2">

			<h4>If you want to edit or add a wish, please login or register</h4>

			<table class="table table-striped my-4">
				<thead>
					<tr>
						<th>Wish</th>
						<th>Date creation</th>
						<th>Category</th>
					</tr>
				</thead>
				<tbody>
					{% for w in list | sort((d1,d2) => d2.dateCreated <=> d1.dateCreated) %}
						<tr>
							<td>{{w.title}}</td>
							<td>{{w.dateCreated | date('d-m-Y')}}</td>
							<td>{{w.categorie.libelle}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
